---
- name: Configurar cloud-init no template Ubuntu
  hosts: proxmox
  gather_facts: false

  vars:
    template_vmid: 9000
    ciuser: ubuntu
    ssh_public_key_file: ~/.ssh/id_rsa.pub

  tasks:
    - name: Ler chave SSH pública local
      ansible.builtin.slurp:
        src: "{{ ssh_public_key_file }}"
      register: ssh_key_content
      delegate_to: localhost

    - name: Configurar usuário padrão cloud-init
      ansible.builtin.command: >
        qm set {{ template_vmid }} --ciuser {{ ciuser }}

    - name: Criar arquivo temporário com chave SSH
      ansible.builtin.copy:
        content: "{{ ssh_key_content.content | b64decode }}"
        dest: /tmp/sshkey_temp.pub
        mode: '0600'

    - name: Configurar chave SSH no template
      ansible.builtin.command: >
        qm set {{ template_vmid }} --sshkeys /tmp/sshkey_temp.pub

    - name: Remover arquivo temporário
      ansible.builtin.file:
        path: /tmp/sshkey_temp.pub
        state: absent

    - name: Regenerar imagem cloud-init
      ansible.builtin.command: >
        qm cloudinit update {{ template_vmid }}

    - name: Exibir sucesso
      ansible.builtin.debug:
        msg: "Template {{ template_vmid }} configurado com usuário {{ ciuser }} e chave SSH"
